<!-- <app-user-header></app-user-header> -->
<div class="container mt-5">
    <div>
        <h1 class="entry-title" itemprop="headline">About</h1>
    </div>
    <br>
    <div class="mx-2">
        <h3>About Us</h3>
    </div>
    <br>
    <div class="mx-3">
        When you want to login or access a website such as a school, college, employer, or anywhere else, you would like
        it to be simple. However, we know all too well that that is seldom the case. Of course, you remember the URL of
        the main page for the service, but client or employee login pages are often hidden behind a complex and long
        URL. That does present us with a problem. You either have to write down the directions to the login page for
        each of the site or remember them. That gets very confusing when you have more than one site that you use
        regularly. Furthermore, you would have to have a book of directions for all of the sites that you use to get to
        the correct portal page.
    </div>
    <br>
    <div class="mx-3">
        Jumping through all of those hoops and memorizing all of the instructions seems absolutely ridiculous to us.
        That is why we have created a sophisticated program that searches the internet and website sitemaps for the
        login landing page that you need to use. After the program has found a portal, it maps the URL along with the
        name of the site. That allows us to give you all of the login pages that you need all on one site. I know what
        you are thinking; you think that this is going to be another hoop to jump through. However, it couldn’t be
        further than the truth. To allow easy access to all of the URLs for individual sites, we provide you with a
        search box. Therefore, all you need to do is type the first few letters of the website name, and our site will
        give you the options you have. So, instead of remembering all of the pages that you need, simply bookmark this
        site, and search for where you need.
    </div>
    <br>
    <div class="mx-3">
        We deliver maintainable, secure, and fast performance software solutions by using latest Microsoft technologies.
    </div>
    <br>
    <div class="container ">
        <p style="font-size:30px;text-align:center"class="form-title">We're driven by customer success</p>
                
        <div class="row " >
            <div class="col-sm-4 text-center ">
                <img src="./assets/image/a11.webp">
                <div class="card-header">
                <p>"Our partnership with you is very deep and very spirited.
                      has helped us to grow. We’re going to win together."</p>
                      <i>- Jennifer Deutsch, CMO, Park Place</i>
                      </div>
            </div>
            <div class="col-sm-4 text-center">
                <img src="./assets/image/a12.webp">
                <div class="card-header">
                <p>"The strategy that we are looking for—to be more efficient, to be more agile, 
                    to be more available to the client—is the same that has."</p>
                    <i>- Leandro Araujo, Head of Production and IT Process, Itau</i>
                    </div>
            </div>  
            <div class="col-sm-4 text-center ">
                <img src="./assets/image/a13.webp">
                <div class="card-header">
                <p >"XYZ is our preferred partner to give us advice, to really optimize cost, 
                    to really make sure we use the mainframe in the most efficient way."</p>
                    <i>- Peter Vanbellingen, CIO, Colruyt Group</i>
                  </div>
            </div> 
        </div>
        </div>
        <br><br><br>
</div>
<div class="container">

</div>
<br>
<app-user-footer></app-user-footer>