<!-- <app-user-header></app-user-header> -->
<!-- <div class="container" *ngIf="!isuser">
    You are not authorize to access this page.
  </div> -->
<div class="container mt-5" >
    <div>
        <h1 class="entry-title" itemprop="headline">Blog</h1>
    </div>
    <br>
    <div >
    <h3 class="text-primary text-center"> WELCOME !!</h3>
    <h4 class=" text-center">Now you can Edit Your blog</h4>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class=" col-md-6 border border-primary">
            <div class="card-body fw-bold">
                <form [formGroup]="writeblog">
                    <div class="form-group">
                        <label>Title</label><span class="text-danger">*</span>
                        <input class="form-control" type="text" formControlName="title">
                    </div>
                    <div *ngIf="wb['title'].invalid && (wb['title'].dirty || wb['title'].touched)" class="text-danger">
                        <div *ngIf="wb['title'].errors?.['required']">
                            Name **
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Description</label><span class="text-danger">*</span>
                        <textarea class="form-control" rows="7" cols="200" formControlName="description"></textarea>
                    </div>
                    <div *ngIf="wb['description'].invalid && (wb['description'].dirty || wb['description'].touched)" class="text-danger">
                        <div *ngIf="wb['description'].errors?.['required']">
                            Minimum 4 words **
                        </div>
                    </div>
                    <br>
                    <div class="form-group" >
                        <label>Written By</label><span class="text-danger">*</span>
                        <input class="form-control" type="text"  formControlName="wby" readonly  >
                    </div>
                    <!-- <div *ngIf="wb['wby'].invalid && (wb['wby'].dirty || wb['wby'].touched)" class="text-danger">
                        <div *ngIf="wb['wby'].errors?.['required']">
                            Name **
                        </div>
                    </div> -->
                    <br>
                    <div class="form-group text-center">
                        <button class="btn btn-primary btn-lg btn-block " type="submit"
                            [disabled]="writeblog.pristine || writeblog.invalid" (click)="editblog()">UPDATE & PUBLISH</button>
                            <button class="btn btn-primary btn-lg btn-block mx-3" type="submit" routerLink="/blogs">Cancel</button>
                        </div>
                </form>
            </div>
        </div>
    </div>
    </div>
