<!-- <app-admin-header></app-admin-header> -->
<div class="container form-title text-center" *ngIf="!isAdmin">
  You are not authorize to access this page.
</div>
<div class="container mt-3" *ngIf="isAdmin">
    <!-- No data message -->
    <p *ngIf="query.length <= 0" class="no-data text-center">There is no Message found!</p>
  
    <!-- Message list -->
    <h6 class="form-title text-center">User Feedback / query</h6>
    <table class="table table-bordered border-primary" *ngIf="query.length > 0">
      <thead class="table-primary">
        <tr class="text-center">
          <th scope="col">query ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col">Message</th>
          <!-- <th scope="col center">Update</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qr of query; let i = index">
          <th scope="row">{{qr._id}}</th>
          <td>{{qr.fname}}</td>
          <td>{{qr.lname}}</td>
          <td>{{qr.email}}</td>
          <td>{{qr.phone}}</td>
          <td>{{qr.message}}</td>
         
          
        </tr>
      </tbody>
    </table>
  </div>
  <app-admin-footer></app-admin-footer>